@import "variable.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.page-width { 
    max-width: 1440px; 
    padding: 0 50px;  
    margin: 0 auto;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
svg {
    width: 100%;
    height: 100%;
    display: block;
}
.flex {
    display: flex;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.cursor-pointer {
    cursor: pointer;
}
.text-align {
    text-align: center;
}
.heading-L {
    font-size: 36px;
    font-weight: 800;
}
.heading-s {
    font-size: 18px;
    font-weight: 400;
}
.border-radius_l {
    border-radius: 35px;
}
.border-radius_s {
    border-radius: 18px;
}
.cursor-pointer {
    cursor: pointer;
}
.position-reletive {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.justify-between {
    justify-content: space-between;
}
.btn {
    z-index: 9;
    font-size: 16px;
    font-weight: 700;
    background-color: $white;
    height: 50px;
    color: #242424;
    border-radius: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 40px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    border: none;
    &:hover {
        background-color: $Chartreuse-Yellow;
    }
}
.success-add-to-cart {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 14px 40px;
    background-color: green;
    color: #fff;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 7px;
}
.fail-add-to-cart {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 14px 40px;
    background-color: red;
    color: #fff;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 7px;
}
@media screen and (max-width:990px){
    .page-width {
        padding: 0 30px;
    }
    .heading-L { 
        font-size: 24px;
    }
}
@media screen and (max-width:767px){
    .page-width {
        padding: 0 20px;
    }
    .border-radius_l {
        border-radius: 15px;
    }
    .border-radius_s {
        border-radius: 15px;
    }
}