@import "variable.scss";
.featured-collection-slider  {
  margin-bottom: 120px;
  .swiper-slide {
    max-width: 312px;
  }
  .wrap {
    position: relative;
  }
  .heart-icon {
    width: 20px;
    height: 18px;
  }
  .contents-wrapper {
    .page-width {
      padding-right: 0;
    }
  }
  .featured-slider{
    overflow: hidden;
  }
}
@media(max-width: 990px ){
  .featured-collection-slider  {
    margin-bottom: 90px;
  }
}
@media(max-width: 767px ){
  .featured-collection-slider  {
    margin-bottom: 70px;
    position: relative;
    .contents-wrapper {
      padding-bottom: 50px;
    }
    .page-width {
      padding-right: 0;
    }
  }
}