@import "variable.scss";
.section-swiper-btns{
  .swiper-wrapper {
    padding-left: 50px;
  }
  .swiper-button-next {
    &:after {
     font-size: 20px;
     color: $Mine-Shaft;
   }
  }
  .swiper-button-prev{
   &:after {
     font-size: 20px;
     color: $Mine-Shaft;
   }
  } 
  .swiper-button-next {
  &:after {
     font-size: 20px;
     color: $Mine-Shaft;
    }
  }
  .swiper-button-next, .swiper-button-prev {
    position: relative;
    top: unset;
    left: unset;
    margin: 0;
    right: unset;
  }
  .swiper-button-prev  {
    margin-right: 8px;
  }
  .swiper-button {
    width: 52px;
    border-radius: 50%;
    height: 52px;
    background-color: $White-Smoke;
  }
  .swiper-button > svg {
    display: none;
  }
}
@media(max-width: 990px ){
  .section-swiper-btns {
    .swiper-wrapper {
      padding-left: 30px;
    }
  }
}
@media(max-width: 767px ){
  .section-swiper-btns {
    .swiper-button {
      width: 30px;
      height: 30px;
    }
    .swiper-button-next {
      &:after {
       font-size: 14px;
       color: $Mine-Shaft;
     }
    }
    .swiper-button-prev{
     &:after {
       font-size: 14px;
       color: $Mine-Shaft;
     }
    } 
    .swiper-button-next {
    &:after {
       font-size: 14px;
       color: $Mine-Shaft;
      }
    }
    .swiper-buttons {
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 99;
      transform: translateX(-50%);
    }
  }
}