{{ "header.css" | asset_url | stylesheet_tag }}

<!-- header section start -->
<div class="header-section">
    <div class="page-width">
        <div class="header-section__wrapper">
            <div class="header-section__main-grid flex-between">
                <div class="header-section__menu-icon cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="24" viewBox="0 0 24 24" width="24"><path d="M4 6H20M4 12H20M4 18H20" stroke="#4A5568" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
                </div>
                <div class="header-section__logo">
                    <a class="header-section__logo-link" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="144" height="36" viewBox="0 0 144 36" fill="none">
                            <path d="M36.8267 18C36.8267 27.9411 28.5828 36 18.4133 36C8.24393 36 0 27.9411 0 18C0 8.05887 8.24393 0 18.4133 0C28.5828 0 36.8267 8.05887 36.8267 18Z" fill="#242424"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0392 24.6075C16.0297 25.2469 17.2448 25.6169 18.5535 25.6169C20.1674 25.6169 21.5357 25.2338 22.5406 24.5572L25.2639 25.4441V10.3241L22.3389 11.2293C21.326 10.5443 19.9969 10.1513 18.5093 10.1513C17.14 10.1513 15.9177 10.4998 14.9866 11.1028L12.4704 10.3241V25.4441L15.0392 24.6075ZM15.4754 20.9146C15.9868 22.2534 17.2254 23.1113 18.664 23.1113C20.277 23.1113 21.3376 22.3553 21.3376 21.2105C21.3376 19.7905 19.7839 19.3368 18.0293 18.8243C17.1734 18.5744 16.2698 18.3105 15.4754 17.9137V20.9146ZM22.2589 14.5157C21.5751 13.4003 19.8712 12.6569 18.5093 12.6569C17.0289 12.6569 16.123 13.2833 16.123 14.2985C16.123 15.3978 17.4501 15.7305 19.0406 16.1293C20.1014 16.3952 21.2793 16.6905 22.2589 17.2621V14.5157Z" fill="#242424"/>
                            <path d="M55.6427 24.5338C52.5934 24.5338 50.0524 22.525 49.6768 19.7818L52.3504 18.9826C52.5934 20.797 54.0297 22.0282 55.7532 22.0282C57.3662 22.0282 58.4268 21.2722 58.4268 20.1274C58.4268 16.8658 50.2292 18.7018 50.2292 13.2154C50.2292 10.7962 52.5493 9.06822 55.5985 9.06822C58.5373 9.06822 60.8574 10.6018 61.3435 12.8914L58.6477 13.9714C58.3384 12.5026 57.2115 11.5738 55.5985 11.5738C54.1181 11.5738 53.2121 12.2002 53.2121 13.2154C53.2121 15.9586 61.476 13.9282 61.476 20.0626C61.476 22.741 59.1339 24.5338 55.6427 24.5338Z" fill="#242424"/>
                            <path d="M70.0469 24.253C69.4945 24.4474 68.8979 24.5338 68.2571 24.5338C66.0033 24.5338 64.324 23.3458 64.324 20.797V15.7642H62.4459V13.4746H64.324V10.2778H67.1081V13.4746H69.9143V15.7642H67.1081V20.5378C67.1081 21.5746 67.6826 22.1362 68.5443 22.1362C68.9642 22.1362 69.4503 22.0714 69.848 21.877L70.0469 24.253Z" fill="#242424"/>
                            <path d="M79.2552 13.4746H82.1056L76.2281 28.2922H73.3998L75.1233 23.929L70.7924 13.4746H73.8196L76.4932 20.473L79.2552 13.4746Z" fill="#242424"/>
                            <path d="M83.6373 24.361V9.06822H86.4214V24.361H83.6373Z" fill="#242424"/>
                            <path d="M99.6138 18.5506C99.6138 18.9394 99.5917 19.4146 99.5696 19.6306H91.3057C91.5487 21.2722 92.6314 22.2442 94.2223 22.2442C95.526 22.2442 96.454 21.6394 96.7413 20.581L99.3486 21.2722C98.7299 23.3242 96.7855 24.5338 94.1781 24.5338C90.4881 24.5338 88.5216 21.7474 88.5216 18.9178C88.5216 16.0882 90.3334 13.3018 94.0235 13.3018C97.7798 13.3018 99.6138 16.0234 99.6138 18.5506ZM91.3719 17.6434H96.6308C96.4982 16.3474 95.6365 15.3754 94.0235 15.3754C92.6535 15.3754 91.6813 16.1746 91.3719 17.6434Z" fill="#242424"/>
                            <path d="M111.619 9.24102H114.624V24.361H111.619V17.773H104.835V24.361H101.83V9.24102H104.835V15.2458H111.619V9.24102Z" fill="#242424"/>
                            <path d="M118.821 11.8114C117.826 11.8114 117.097 11.077 117.097 10.1266C117.097 9.19782 117.826 8.46342 118.821 8.46342C119.837 8.46342 120.588 9.19782 120.588 10.1266C120.588 11.077 119.837 11.8114 118.821 11.8114ZM117.429 24.361V13.4746H120.213V24.361H117.429Z" fill="#242424"/>
                            <path d="M125.804 24.361L121.738 13.4746H124.545L127.086 21.2074L129.627 13.4746H132.455L128.389 24.361H125.804Z" fill="#242424"/>
                            <path d="M144 18.5506C144 18.9394 143.978 19.4146 143.956 19.6306H135.692C135.935 21.2722 137.018 22.2442 138.609 22.2442C139.912 22.2442 140.84 21.6394 141.128 20.581L143.735 21.2722C143.116 23.3242 141.172 24.5338 138.564 24.5338C134.874 24.5338 132.908 21.7474 132.908 18.9178C132.908 16.0882 134.72 13.3018 138.41 13.3018C142.166 13.3018 144 16.0234 144 18.5506ZM135.758 17.6434H141.017C140.884 16.3474 140.023 15.3754 138.41 15.3754C137.04 15.3754 136.068 16.1746 135.758 17.6434Z" fill="#242424"/>
                            </svg>
                    </a>
                </div>
                <div class="header-section__search flex align-center">
                    <div class="dropdown cursor-pointer flex align-center">
                        <span class="header-section__text capitalize">all</span>
                        <span class="header-section__arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none">
                            <path opacity="0.3" d="M1 1.5L6 6.5L11 1.5" stroke="#242424" stroke-width="1.5"/>
                            </svg>
                        </span>
                    </div>
                    <div class="header-section__border"></div>
                    <input class="header-section__input" type="text" placeholder="Search something">
                    <div class="header-section__search-icon cursor-pointer">
                        <div class="header-section__search-icon-inner flex align-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5796 14.4011L11.2911 10.1126C12.05 9.10764 12.5001 7.85641 12.5001 6.50006C12.5001 3.18635 9.81377 0.500061 6.50006 0.500061C3.18635 0.500061 0.500061 3.18635 0.500061 6.50006C0.500061 9.81377 3.18635 12.5001 6.50006 12.5001C7.85641 12.5001 9.10764 12.05 10.1126 11.2911L14.4011 15.5796L15.5796 14.4011ZM10.8337 6.50014C10.8337 8.89337 8.89362 10.8335 6.50039 10.8335C4.10715 10.8335 2.16705 8.89337 2.16705 6.50014C2.16705 4.10691 4.10715 2.16681 6.50039 2.16681C8.89362 2.16681 10.8337 4.10691 10.8337 6.50014Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="header-section__icon-wrap flex align-center">
                    <div class="header-section__icon cursor-pointer position-reletive">
                        <span class="header-section__icon-inner">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18" fill="none">
                            <path d="M12.0007 4.00008H10.334C10.334 2.15841 8.84232 0.666748 7.00065 0.666748C5.15898 0.666748 3.66732 2.15841 3.66732 4.00008H2.00065C1.08398 4.00008 0.333984 4.75008 0.333984 5.66675V15.6667C0.333984 16.5834 1.08398 17.3334 2.00065 17.3334H12.0007C12.9173 17.3334 13.6673 16.5834 13.6673 15.6667V5.66675C13.6673 4.75008 12.9173 4.00008 12.0007 4.00008ZM7.00065 2.33341C7.91732 2.33341 8.66732 3.08341 8.66732 4.00008H5.33398C5.33398 3.08341 6.08398 2.33341 7.00065 2.33341ZM12.0007 15.6667H2.00065V5.66675H3.66732V7.33342C3.66732 7.79175 4.04232 8.16675 4.50065 8.16675C4.95898 8.16675 5.33398 7.79175 5.33398 7.33342V5.66675H8.66732V7.33342C8.66732 7.79175 9.04232 8.16675 9.50065 8.16675C9.95898 8.16675 10.334 7.79175 10.334 7.33342V5.66675H12.0007V15.6667Z" fill="#242424"/>
                            </svg>
                        </span>
                        <span class="header-section__count position-absolute">4</span>
                    </div>
                    <div class="header-section__icon header-section__hide-icon cursor-pointer">
                        <span class="header-section__icon-inner">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
                            <path d="M12.7493 0.5C11.2993 0.5 9.90768 1.175 8.99935 2.24167C8.09102 1.175 6.69935 0.5 5.24935 0.5C2.68268 0.5 0.666016 2.51667 0.666016 5.08333C0.666016 8.23333 3.49935 10.8 7.79102 14.7L8.99935 15.7917L10.2077 14.6917C14.4993 10.8 17.3327 8.23333 17.3327 5.08333C17.3327 2.51667 15.316 0.5 12.7493 0.5ZM9.08268 13.4583L8.99935 13.5417L8.91602 13.4583C4.94935 9.86667 2.33268 7.49167 2.33268 5.08333C2.33268 3.41667 3.58268 2.16667 5.24935 2.16667C6.53268 2.16667 7.78268 2.99167 8.22435 4.13333H9.78268C10.216 2.99167 11.466 2.16667 12.7493 2.16667C14.416 2.16667 15.666 3.41667 15.666 5.08333C15.666 7.49167 13.0493 9.86667 9.08268 13.4583Z" fill="#242424"/>
                            </svg>
                        </span>
                    </div>
                    <div class="header-section__icon cursor-pointer">
                        <span class="header-section__icon-inner">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <g clip-path="url(#clip0_29_149)">
                                <path d="M10.0007 4.99992C10.9173 4.99992 11.6673 5.74992 11.6673 6.66658C11.6673 7.58325 10.9173 8.33325 10.0007 8.33325C9.08398 8.33325 8.33398 7.58325 8.33398 6.66658C8.33398 5.74992 9.08398 4.99992 10.0007 4.99992ZM10.0007 13.3333C12.2507 13.3333 14.834 14.4083 15.0007 14.9999H5.00065C5.19232 14.3999 7.75898 13.3333 10.0007 13.3333ZM10.0007 3.33325C8.15898 3.33325 6.66732 4.82492 6.66732 6.66658C6.66732 8.50825 8.15898 9.99992 10.0007 9.99992C11.8423 9.99992 13.334 8.50825 13.334 6.66658C13.334 4.82492 11.8423 3.33325 10.0007 3.33325ZM10.0007 11.6666C7.77565 11.6666 3.33398 12.7833 3.33398 14.9999V16.6666H16.6673V14.9999C16.6673 12.7833 12.2256 11.6666 10.0007 11.6666Z" fill="#242424"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_29_149">
                                <rect width="20" height="20" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header section end -->
<!-- sub header start -->
<div class="sub-header">
    <div class="page-width">
        <div class="sub-header__wrapper">
            <ul class="sub-header__menu-list flex-between">
                <li class="sub-header__menu-item">
                    <a href="" class="sub-header__menu-link uppercase">New</a>
                </li>
                <li class="sub-header__menu-item">
                    <a href="" class="sub-header__menu-link uppercase">Clothing</a>
                </li>
                <li class="sub-header__menu-item">
                    <a href="" class="sub-header__menu-link uppercase">Footwear</a>
                </li>
                <li class="sub-header__menu-item">
                    <a href="" class="sub-header__menu-link uppercase">Accessories</a>
                </li>
                <li class="sub-header__menu-item">
                    <a href="" class="sub-header__menu-link uppercase">Beauty & Grooming</a>
                </li>
                <li class="sub-header__menu-item">
                    <a href="" class="sub-header__menu-link uppercase">For Home</a>
                </li>
                <li class="sub-header__menu-item">
                    <a href="" class="sub-header__menu-link uppercase">Sale</a>
                </li>
                <li class="sub-header__menu-item">
                    <a href="" class="sub-header__menu-link uppercase">Season Themed</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- sub header end -->