{{ 'sliding-banner.css' | asset_url | stylesheet_tag }}

<div class="sliding-banner">
    <div class="full-width">
        <div class="sliding-banner__wrapper">
            <div class="sliding-banner__swiper-container" js-sliding-banner>
                <div class="sliding-banner__slide-text swiper-wrapper">
                    {%- for block in section.blocks -%}
                        {%- if  block.settings.text != blank -%}
                            <div class="sliding-banner__list-item uppercase swiper-slide">{{ block.settings.text }}</div>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
          </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Sliding banner",
        "blocks": [
            {
                "type": "info",
                "name": "Info",
                "settings": [
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Sliding banner"
            }
        ]
    }
{% endschema %}