.hero-banner__bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 643px;
  height: 80vh; }

.hero-banner__container {
  height: 100%; }

.hero-banner__wrapper {
  height: 100%; }

.hero-banner__content-wrap {
  height: 100%; }

.hero-banner__title {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 16px;
  line-height: 1;
  letter-spacing: 0;
  color: #FFFFFF;
  max-width: 765px; }

.hero-banner__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #FFFFFF;
  margin-bottom: 40px;
  max-width: 350px; }

@media screen and (max-width: 990px) {
  .hero-banner__bg-image {
    min-height: 380px; }
  .hero-banner__title {
    font-size: 36px;
    max-width: 470px; }
  .hero-banner__text {
    font-size: 14px;
    max-width: 300px; } }

@media screen and (max-width: 767px) {
  .hero-banner__bg-image {
    min-height: 250px; }
  .hero-banner__title {
    font-size: 30px;
    max-width: 300px;
    margin-bottom: 10px; }
  .hero-banner__text {
    font-size: 12px;
    max-width: 255px;
    margin-bottom: 16px; }
  .hero-banner .btn {
    font-size: 14px;
    padding: 10px 20px; } }
