.featured-collection-slider {
  margin-bottom: 120px; }
  .featured-collection-slider .swiper-slide {
    max-width: 312px; }
  .featured-collection-slider .wrap {
    position: relative; }
  .featured-collection-slider .heart-icon {
    width: 20px;
    height: 18px; }
  .featured-collection-slider .contents-wrapper .page-width {
    padding-right: 0; }
  .featured-collection-slider .featured-slider {
    overflow: hidden; }

@media (max-width: 990px) {
  .featured-collection-slider {
    margin-bottom: 90px; } }

@media (max-width: 767px) {
  .featured-collection-slider {
    margin-bottom: 70px;
    position: relative; }
    .featured-collection-slider .contents-wrapper {
      padding-bottom: 50px; }
    .featured-collection-slider .page-width {
      padding-right: 0; } }
